*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .background-color{
 background-color: #2b0040;
 color: #ffffff;
 }
.google_font_inter{
  font-family: "Inter", sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-item{
    padding: 30px;
    display: flex;
    gap: 32px;
}
.list-item li{
    list-style: none;
     
}
.list-item li a{
    text-decoration: none;
        color: #ffffff;
}
.navbar-logo{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
 .wave{
    background: linear-gradient(
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
);
}
.navbar-button,
 .hero-button{
    margin: 20px;
   padding: 12px 20px;
   font-size: 16px;
   cursor: pointer;
    /* font-weight: 600; */
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
     background: linear-gradient(
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
);
}
.hamburger{
  display: none;
  font-size: 24px;
  cursor: pointer;
}
hr{
    border: 1px solid #5b058676;
    margin-bottom: 70px;
}


/* hero-section */

.hero-container{
    justify-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-image{
    position: relative;
    width: 350px;
   

}
.circle-image{
    width: 100%;
   
}
.microphone-image{
    position: absolute;
      top: 60px;
     right: 100px;
    width: 150px;
}

.hero-title{
    font-size: 60px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.hero-text{
    font-size: 16px;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.792);
}
.hero-button-2{
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    background-color: #2b0040;
    margin-bottom: 150px;
   
}
.hero-button-2:hover{
    background-color:blueviolet;
}
/* About section */
.about{
    /* padding: 50px 120px 200px;
    text-align: center; */
    padding: 80px 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.about-title{
    font-size: 48px;
font-weight: 700;
margin-bottom: 24px;
    
}
.about-description{
    font-size: 16px;
font-weight: 300;
color: rgba(245, 245, 245, 0.792);
 line-height: 1.8; 
}












































/* Mobile Responsive */

/* navbar_section */
@media screen and (max-width:576px){
   .navbar-list,
  .nav-button{
    display: none;
  }
  .hamburger{
    display: block;
    color: #ffffff;
  }
   .navbar-container{
    justify-content: space-between;
    padding: 0 20px;
  }  

  /* Hero-section */
    .hero-title {
        font-size: 36px;
    }
     .hero-text {
        font-size: 12px;
    }
      .hero-image {
        width: 280px;
    }
    .microphone-image {
        top: 60px;
        right: 95px;
        width: 100px;
    }
    .about-title{
        font-size: 32px;
    }
    .about-description{
        font-size: 16px;
         padding: 0 15px; 
    }

}

