*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .background-color{
 background-color: #2b0040;
 color: #ffffff;
 }
.google_font_inter{
  font-family: "Inter", sans-serif;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-item{
    padding: 30px;
    display: flex;
    gap: 32px;
}
.list-item li{
    list-style: none;
     
}
.list-item li a{
    text-decoration: none;
        color: #ffffff;
}
.navbar-logo{
    padding: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}
 .wave{
    background: linear-gradient(
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
);
}
.navbar-button,
 .hero-button{
    margin: 20px;
   padding: 12px 20px;
   font-size: 1rem;
   cursor: pointer;
    /* font-weight: 600; */
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
     background: linear-gradient(
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1)
);
}
.hamburger{
  display: none;
  font-size: 24px;
  cursor: pointer;
}
hr{
    border: 1px solid #5b058676;
    margin-bottom: 70px;
}


/* hero-section */

.hero-container{
    justify-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.hero-image{
    
    position: relative;
    width: 300px;
   

}
.circle-image{
    width: 100%;
    margin-top: 50px;
   
}
.microphone-image{
    position: absolute;
      top: 120px;
     right: 100px;
    width: 100px;
}

.hero-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}
.hero-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(245, 245, 245, 0.792);
}
.hero-button-2{
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    background-color: #2b0040;
    margin-bottom: 150px;
   
}
.hero-button-2:hover{
    background-color:blueviolet;
}
.green-button {
  position: absolute;
  top: 70px;
  right: 5px;
  padding: 8px 18px;
  font-size: 0.87rem;
  font-weight: 600;
  background-color: #00ff88;
  color: #1a0028;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
/* About section */
.about{
    padding: 80px 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.about-title{
    font-size: 3rem;
font-weight: 700;
margin-bottom: 24px;
    
}
.about-description{
    font-size: 1rem;
font-weight: 300;
color: rgba(245, 245, 245, 0.792);
 line-height: 1.8; 
}

/* Box section */

.box-container{
 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    /* align-items: center; */
    gap: 50px;
    margin-bottom: 50px;
   
}


.box{
 
    font-size: 2.67rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}
.box p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
   color: rgba(245, 245, 245, 0.792); 
}
/* Feature section */
.fea-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #ffffffc8;
}
.feature-container{
    margin: 20px 120px 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.left-up-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.left-down-layout{
  grid-column: span 2;
    grid-row: span 1;
}
.right-up-layout{
     grid-column: span 2;
    grid-row: span 1;
}
.right-middle-layout{
     grid-column: span 2;
    grid-row: span 1;
}
.right-down-layout{
      grid-column: span 1;
    grid-row: span 2;
}
.feature-container > div{
    background: rgba(255,255,255,0.04);
    border-radius: 20px;
    padding: 32px;
    color: #fff;
}
.feature-container img{
    width: 30px;
    margin-bottom: 15px;

}
.feature-container h3{
    font-size: 1.25rem;
  font-weight: 700;
   margin-bottom: 15px;
}
.feature-container p{
    font-size: 1rem;
font-weight: 400;
color: rgba(245, 245, 245, 0.792);
}
/* podcast section */

.podcast-header{
    font-size: 3rem;
    text-align: center;
  
}
.podcast-container {
 margin: 0 auto;
 padding: 80px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
 align-items: center;
  gap: 40px;
  
}
.podcast-video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.podcast-card {

  background: #1a0028;
  border-radius: 24px;
  overflow: hidden;
  color: #ffffff;
}
.podcast-video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.podcast-content {
  padding: 20px;
}

.podcast-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.podcast-content p {
  font-size: 0.8rem;
  font-weight: 400;
   color: rgba(245, 245, 245, 0.792); 
  
}

.duration {
  margin-top: 16px;
  color: #6affc4;
  font-size: 1rem;
}
/* Host section */
.host{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.host-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
     background: #1a0028;
    display: flex;
    align-items: center;
    gap: 24px;
    
  
}
.host-image img{
      margin-top:20px;
  width: 100%;
   width: 260px;
}
.host-content h3{
    font-size: 2rem;
font-weight: 700;
margin-bottom: 16px;
}
.host-content p{
    font-size: 1rem;
font-weight: 400;
 color: rgba(245, 245, 245, 0.792);
 margin-bottom: 15px;
}
.link-up img{
    width: 20px;
    height: 20px;

}
.link-up{
   
    display: flex;
    gap: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid goldenrod; */
} 
.link-up img,
.social-item img {
  transition: transform 0.3s ease;
}

.link-up img:hover,
.social-item img:hover {
  transform: scale(1.2);
}
/* footer section */

.footer-container{
    max-width: 100%;
    margin-top: 100px;
   background: #1a0028;
   padding: 80px 20px;
   text-align: center;
   
}
.footer-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 50px ;
  
}
.social-media{
    background-image: url(./assets/footer-bg.png);
    justify-items: center;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    flex-wrap: wrap;

}
.social-item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
     color: rgba(245, 245, 245, 0.792);
     margin-top: 20px;
     padding: 10px;
}
.social-item p{
    font-size:0.8rem ;
     color: rgba(245, 245, 245, 0.792);
}
.footer-last{
    margin-top: 32px;
    font-size: 0.75rem;
  color: rgba(245, 245, 245, 0.792);
}




/* Mobile Responsive */

/* navbar_section */
@media screen and (max-width:576px){
   .navbar-list,
  .nav-button{
    display: none;
  }
  .hamburger{
    display: block;
    color: #ffffff;
  }
   .navbar-container{
    justify-content: space-between;
    padding: 0 20px;
  }  

  /* Hero-section */
    .hero-title {
        font-size: 2.25rem;
    }
     .hero-text {
        font-size: 0.7rem;
    }
      .hero-image {
        width: 280px;
    }
    .microphone-image {
        top: 100px;
        right: 95px;
        width: 100px;
    }
    .about-title{
        font-size: 2rem;
    }
    .about-description{
        font-size: 1rem;
         padding: 0 15px; 
    }
    .box-container{
      
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
 
.feature-container{
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
    /* justify-items: center; */
    align-items: center;
    
}
/* Feature section */
.podcast-container {

  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
 
}
/* Host section */
.host{
    font-size: 2rem;
}
  .host-container {
    flex-direction: column;
    text-align: center;
  }
  .host-image img{
    width: 200px;
  }
  .link-up {
    display: inline-flex;
    justify-content: center;
    gap: 12px;
  }
  /* footer-section */
  .footer-title {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  .social-media {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;

  }
}

